<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,

	title:{
		text:"Medals per Year"
	},
	axisX:{
		interval: 1
	},
	axisY2:{
		interlacedColor: "rgba(140, 138, 29, .9)",
		gridColor: "rgba(1,77,101,.1)",
		title: "Number of Medals"
	},
	data: [{
		type: "bar",
		name: "medals",
		axisYType: "secondary",
		color: "#177225",
		dataPoints:
			{{ dataPoints }}

	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 2500px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
