<html lang="en">

<head>
    <title> Data By Name</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

    <!-- navbar code for all the pages -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Data By Name </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">Data By Name</a></li>
                <li><a href="/BarGraph">Bar Graph</a></li>
            </ul>
        </div>
    </nav>

    <h1> Data By Name </h1>
    <form action="/DataByName">
        <select name="Name">
        {{ response_options }}
      </select>
        <br><br>
        <input type="submit">
    </form>
    {% if recipiantName and citation is defined %}
        <p> On {{ date }}, {{ recipiantName }} won the Medal of Honor. Their act of valor: {{ citation }}. The act was at {{ location }}, latitude: {{ latitude }}, longitude: {{ longitude }}. <p>
    {% endif %}
</body>

</html>
