<html lang = "en">

<head>
    <title> Percent of recipients by rank </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- navbar code for all the pages -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Data By Name </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">Data By Name</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>

    <div id="content">
     <h1>Spending on Broadway Shows</h1>

   <script src="/static/canvasChart.js" type="text/javascript"></script>
   <script type="text/javascript">

       $(document).ready(function () {
           var dataDef = { title: "Total Annual Gross of all Broadway Shows",
                           xLabel: 'Year',
                           yLabel: 'Gross of all Broadway Shows (millions)',
                           labelFont: '19pt Arial',
                           dataPointFont: '10pt Arial',
                           renderTypes: [CanvasChart.renderType.bar, CanvasChart.renderType.points],
                           dataPoints: [{ x: '1991', y: 30.665673 },{ x: '1992', y: 42.262582 },{ x: '1993', y: 46.171494 },{ x: '1994', y: 83.518661 },{ x: '1995', y: 197.85603 },{ x: '1996', y: 351.762607 },{ x: '1997', y: 506.095272 },{ x: '1998', y: 576.194584 },{ x: '1999', y: 588.202096 },{ x: '2000', y: 678.334768 },{ x: '2001', y: 643.802427 },{ x: '2002', y: 706.243486 },{ x: '2003', y: 724.662867 },{ x: '2004', y: 748.856045 },{ x: '2005', y: 825.18974 },{ x: '2006', y: 934.493487 },{ x: '2007', y: 927.333504 },{ x: '2008', y: 985.446068 },{ x: '2009', y: 969.559631 },{ x: '2010', y: 1036.268428 },{ x: '2011', y: 1080.657836 },{ x: '2012', y: 1195.400385 },{ x: '2013', y: 1192.039179 },{ x: '2014', y: 1360.510811 },{ x: '2015', y: 1353.143674 }]
                          };
           CanvasChart.render('canvas', dataDef);
       });

   </script>
   <canvas id="canvas" width="1000" height="600"></canvas>

   </div>

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->

 <!-- Latest compiled and minified JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</body>
</html>
