<html>
    <head>
        <title>Medal of honor page</title>
    </head>

    <body>
        <h1>Medal of Honor Page </h1>
            <href = "https://en.wikipedia.org/wiki/Medal_of_Honor" >
                <p>The Medal of Honor is the highest award for valor in action against an enemy force which can be bestowed upon an individual serving in the Armed Services of the United States. Generally presented to its recipient by the President of the United States of America in the name of Congress.
                Awarded not on statistics but acts that are considered valiant
                A lot of the recipients died
                Awarded by the president
                One version for each: army, navy, air force
                </p>
            <href = "http://www.cmohs.org/medal-symbolism.php" >
            <ul>
                <li>Navy medal was first</li>
                <li>Made at the philadelphia mint</li>
                <li>Design is an inverted 5 pointed star</li>
            </ul>
        </p>
    </body>
</html>
